/* start global */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Tahoma;
}

ul {
    list-style: none;
}

.clearfix {
    clear: both;
}

/* end global */

/* start nav */

nav {
    background-color: #DADADA
}

nav ul {
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li:after {
    content: " |";
}

nav ul li:last-child:after {
    content: "";

}

/* end nav */

/* start header */

header.main {
    padding: 20px;
    background-color: #444;
    text-align: center;
    color: #DDD;
}

/* end header */

/* Start Main */

main {
    background-color: #EEE;
    padding: 20px;
}

main p {
    text-align: center;
}

/* End Main  */

/* start post */

.post {
    float: left;
    width: 70%;
}

.post article {
    background-color: #F6F6F6;
    border: 1px solid #CCC;
    margin: 20px;
}

.post article header {
    background-color: #E2E2E2;
    padding: 20px;
}

.post article section {
    padding: 10px;
}

article section .lond-link{
    width: 200px;
}

/* end post */

/* start Sidebar */

aside {
    float: right;
    width: 30%;
}

aside section {
    background-color: #EEE;
    margin: 20px;
    border: #ccc solid 1px;
    padding: 10px;
}

aside section h3 {
    background-color: #D1D1D1;
    padding: 5px;
    margin-bottom: 10px;
}

aside section ul li {
    line-height: 2;
}

.profile img {
    display: block;
    margin: 0 auto;
    background-color: #D1D1D1;
    border: #ccc solid 1px;

}

/* end aside */

/* start footer */

footer {
    background-color: #333;
    color: #DDD;
    text-align: center;
}

/* end footer */

/* start details */

details{
    margin: 10px 0;
}

/* end details */